@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/DroidKufi-Regular.woff2) format('woff2'),
    url(../fonts/DroidKufi-Regular.woff) format('woff'),
    url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}

body {
    font-family: 'Droid Arabic Kufi' !important;
    position: relative;
}

body * {
    transition: all 0.5s;
}

.topbar {
    background: #bc1e2c;
    min-height: 140px;
}

a.logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    float: left;
}

a.logo img {
    width: 100%;
}

.nav.navbar-nav li a {
    color: #fff;
    height: 100%;
    font-weight: bold;
}

.nav.navbar-nav li.active a, .nav > li > a:focus, .nav > li > a:hover {
    background: #d22030;
}

.content {
    min-height: 350px;
}

.login-link-wrapper {
    height: 140px;
    position: relative;
}

a.login-link {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

a.login-link img {
    width: 100%;
    height: 100%;
}

.login-wrapper {
    width: 350px;
    height: 340px;
    background: #bc1e2c;
    position: absolute;
    bottom: -345px;
    right: -150px;
    display: none;
    padding: 18px 25px;
    z-index: 100001;
    transition: inherit !important;
}

.login-wrapper .theform .alink {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.login-wrapper h5 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
}

.theform .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.theform .input-group-addon {
    background: #fff;
    padding: 9px 20px 9px 12px;
    border: none;
    border-radius: 0px 2px 2px 0px !important;
    width: 50px;
}

.theform .input-group-addon .fa {
    font-size: 18px;
    color: #3a3a3a;
}

.theform .form-control {
    padding: 10px 0px 10px 10px;
    border-right: none;
    box-shadow: none;
    background: #fff;
    border-color: #fff;
    border-width: 2px;
    border-radius: 2px 0px 0px 2px !important;
    height: 37px;
}

.theform .form-control::placeholder {
    color: #545454;
}

.login-wrapper .login-submit {
    margin: 25px auto 13px;
    display: block;
    border: none;
    background: #fff;
    padding: 9px 20px;
    border-radius: 15px;
}

.topcontent {
    background: #fff;
}

.topcontent .box {
    padding: 80px 0px;
    height: 500px;
}

.topcontent .box .text {
    padding-right: 230px;
    padding-left: 40px;
    padding-top: 10px;
    line-height: 26px;
    color: #666666;
}

.topcontent .box .text h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.topcontent .box .text a {
    background: #bc1e2c;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 18px;
}

.topcontent .box .text a:hover {
    background: #d22030;
}

.topcontent .box .img {
    width: 100%;
    height: 100%;
    background-image: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
}

.topcontent .box:first-of-type {
    background-image: url('../images/bg.png');
}

.content2 {
    width: 100%;
    background-image: url('../images/bg3.png');
    background-size: cover;
    background-position: center;
}

.content2 .bg {
    background: #51555dad;
    padding: 50px 0px;
}

.content2 .bg img {
    width: 180px;
    float: left;
    display: block;
}

.content2 .bg h3 {
    color: #fff;
    padding-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content2 .bg p {
    color: #fff;
    padding-right: 20px;
    padding-left: 200px;
}

.content2 .bg a {
    background: #bc1e2c;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 18px;
    margin-right: 16px;
}

.content2 .bg a:hover {
    background: #d22030;
}

.content3 {
    margin-top: 70px;
}

.content3 .box {
    min-height: 500px;
}

.content3 .red {
    background: #bc1e2c;
    padding: 140px 20% 0px 2%;
}

.content3 .red h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.content3 .red p {
    color: #fff;
    line-height: 30px;
}

footer {
    background: #262b34;
    padding: 20px 0px 11px;
    color: #fff;
    font-weight: bold;
}

.register-wrapper {
    padding-right: 30px;
    padding-left: 12%;
}

.register-wrapper .theform {
    position: inherit;
    bottom: inherit;
}

.register-wrapper .input-group {
    border: 1px solid #efefef;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.register-wrapper .input-group-addon {
    padding: 14px 30px 14px 12px;
}

.register-wrapper .form-control {
    padding: 14px 0px 14px 10px;
    height: 46px;
}

.register-wrapper .register-submit {
    display: block;
    border: none;
    background: #bc1e2c;
    padding: 12px 40px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

.register-wrapper .register-submit:hover {
    background: #d22030;;
}

.login-wrapper.in {
    bottom: -89px;
    height: 85px;
}

@media all and (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        height: 140px;
        text-align: center;
    }

    .navbar-nav > li {
        float: none;
        height: 100%;
        display: inline-block;
    }

    .nav.navbar-nav li a {
        line-height: 180px;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .nav.navbar-nav li a {
        padding: 15px 4px;
    }

    .topcontent .box .text {
        padding-right: 40px;
    }

    .content2 .bg p {
        padding-left: 20px;
    }

    .content2 .bg img {
        margin: 10px auto;
    }

    .register-wrapper {
        padding: 0px 20px;
    }
}

@media all and (max-width: 1115px) and (min-width: 1024px) {
    .topcontent .box .text {
        padding-right: 40px;
    }

    .register-wrapper {
        padding: 0px 20px;
    }
}

@media all and (max-width: 767px) {
    .topbar {
        padding: 0px;
    }

    a.logo {
        float: none;
    }

    .navbar-wrapper {
        padding: 0px !important;
    }

    .navbar-header {
        background: whitesmoke;
    }

    .navbar-brand {
        color: #d22030;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar-toggle {
        background: #d22030;
    }

    .navbar-collapse {
        padding: 0px;
    }

    .navbar-nav {
        margin: 0px;
        border-bottom: 2px solid whitesmoke;
    }

    .login-link-wrapper {
        height: 50px;
    }

    a.login-link {
        position: inherit;
        margin: 0px auto;
        bottom: -5px;
    }

    .login-wrapper {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: -301px;
        right: 0;
    }

    .login-wrapper.in {
        bottom: -141px;
        height: 85px;
    }

    .topcontent .box .text h2, .topcontent .box .text p {
        text-align: center;
    }

    .topcontent .box .text a {
        margin: 30px auto 0px;
        width: 200px;
        text-align: center;
        display: block;
    }

    .topcontent .box {
        padding: 20px 0px;
    }

    .topcontent .box:last-of-type {
        padding-bottom: 0px;
    }

    .topcontent .box .text {
        padding-right: 40px;
    }

    .topcontent .box:first-of-type {
        height: auto;
    }

    .content2 .bg p {
        padding-left: 20px;
    }

    .content2 .bg img {
        margin: 10px auto;
        float: none;
    }

    .content2 .bg h3, .content2 .bg p {
        padding: 0px;
        text-align: center;
    }

    .content2 .bg a {
        margin: 30px auto 0px;
        width: 150px;
        text-align: center;
        display: block;
    }

    .register-wrapper {
        padding: 0px 30px;
    }

    .register-wrapper .theform {
        margin-top: 30px;
    }

    .register-wrapper .theform .register-submit {
        margin: 20px auto 0px;
    }

    .content3 .red {
        padding: 50px 20% 70px 2%;
        min-height: inherit;
    }

    footer {
        padding-top: 25px;
        text-align: center;
    }

    footer a {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }
}

@media all and (max-width: 500px) {
    .content3 .red {
        padding: 20px 40px;
    }
}

.remodal-wrapper {
    z-index: 999999;
}

.error-modal, .success-modal {
    border: 1px solid #d6d6d6;
    text-align: center;
}

.error-modal ul {
    padding: 0px;
    margin: 0px;
}

.error-modal ul li {
    color: #d22030;
    font-weight: bold;
    list-style: none;
    font-size: 16px;
    margin-bottom: 6px;
}

.panel-danger {
    border-color: #bc1e2c;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #bc1e2c;
    border-color: #bc1e2c;
}

.btn-primary{
    color: #fff;
    background-color: #bc1e2c;
    border-color: #bc1e2c;
    font-weight: bold;
    border-radius: 14px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #d22030;
    border-color: #d22030;
}
.show-summary{
    margin-bottom: 12px;
    text-decoration: underline;
    display: block;
}
.summary{
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #d8d8d8;
    padding: 15px;
    border-radius: 2px;
    display: none;
}

.dataTables_length, .dataTables_info {
    float: right;
}

.dataTables_filter, .dataTables_paginate {
    float: left;
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000a1;
    z-index: 100000;
    display: none;
    transition: inherit !important;
}

span.colorred{
    color: red;
}